<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="JwDev.Service.Config.providers.config, JwDev.Service"/>

	<!--
	<database>
		<provider name="PostgreSql0.99.1.0" />
		<dataSource name="Aube" connectionString="Host=localhost;Username=aube;Password=aube;Database=JwDev"/>
	</database>
	-->

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="AUBE" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AUBE;Integrated Security=True;"/>
  </database>
	
  <!--
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="DWCTS_C" connectionString="Data Source=211.233.41.212; Initial Catalog=DWCTS_C; User Id=sa; Password=Eodnjscom2008"/>
  </database>
  -->

	<alias>
		<typeAlias alias="LoginUserDataModel" type="JwDev.Model.Auth.LoginUserDataModel, JwDev.Model" />
		<typeAlias alias="MainMenuDataModel" type="JwDev.Model.Auth.MainMenuDataModel, JwDev.Model" />
		<typeAlias alias="PurcTran" type="JwDev.Model.Purchase.PurcTranDataModel, JwDev.Model" />
		<typeAlias alias="PurcTranItem" type="JwDev.Model.Purchase.PurcTranItemDataModel, JwDev.Model" />
		<typeAlias alias="PurcRequests" type="JwDev.Model.Purchase.PurcRequestsModel, JwDev.Model" />
		<typeAlias alias="SaleTran" type="JwDev.Model.Sales.SaleTranDataModel, JwDev.Model" />
		<typeAlias alias="SaleTranItem" type="JwDev.Model.Sales.SaleTranItemDataModel, JwDev.Model" />
		<typeAlias alias="SaleRequests" type="JwDev.Model.Sales.SaleRequestsModel, JwDev.Model" />
		<typeAlias alias="ProdTranData" type="JwDev.Model.Production.ProdTranDataModel, JwDev.Model" />
		<typeAlias alias="ProdRequests" type="JwDev.Model.Production.ProdRequestsModel, JwDev.Model" />
		<typeAlias alias="InventoryList" type="JwDev.Model.Inventory.InventoryListModel, JwDev.Model" />
		<typeAlias alias="InvAdjsData" type="JwDev.Model.Inventory.InvAdjsDataModel, JwDev.Model" />
		<typeAlias alias="InvAdjsList" type="JwDev.Model.Inventory.InvAdjsListModel, JwDev.Model" />
		<typeAlias alias="SalesPriceDataModel" type="JwDev.Model.Codes.SalesPriceDataModel, JwDev.Model" />
		<typeAlias alias="SalesPriceListModel" type="JwDev.Model.Codes.SalesPriceListModel, JwDev.Model" />
		<typeAlias alias="ProductListModel" type="JwDev.Model.Codes.ProductListModel, JwDev.Model" />
		<typeAlias alias="ProductDataModel" type="JwDev.Model.Codes.ProductDataModel, JwDev.Model" />
		<typeAlias alias="AddressData" type="JwDev.Model.Codes.AddressDataModel, JwDev.Model" />
		<typeAlias alias="CostPriceData" type="JwDev.Model.Profit.CostPriceDataModel, JwDev.Model" />
		<typeAlias alias="CostPriceList" type="JwDev.Model.Profit.CostPriceListModel, JwDev.Model" />
		<typeAlias alias="ProfitList" type="JwDev.Model.Profit.ProfitListModel, JwDev.Model" />
		<typeAlias alias="SaleCategoryList" type="JwDev.Model.Sales.SaleCategoryListModel, JwDev.Model" />
		<typeAlias alias="SaleProductsList" type="JwDev.Model.Sales.SaleProductsListModel, JwDev.Model" />
		<typeAlias alias="SaleSumData" type="JwDev.Model.Sales.SaleSumDataModel, JwDev.Model" />
		<typeAlias alias="TableList" type="JwDev.Model.System.TableListModel, JwDev.Model" />
		<typeAlias alias="ColumnList" type="JwDev.Model.System.ColumnListModel, JwDev.Model" />
		<typeAlias alias="DataMap" type="JwDev.Model.Map.DataMap, JwDev.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.AuthSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.CalendarSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.CodesSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.DictionariesSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.LoginLogSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.MenusSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.UserMenusSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.UsersSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Auth.DatabaseSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Code.AddressSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Code.BizRegCeSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Code.CustomersSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Code.CustomerPhonesSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Code.CustomerAddressSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Code.ProductsSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Code.ProductMaterialsSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Common.CodeHelpSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Business.SalesSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Business.PurchaseSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Business.ProductionSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Business.InventorySQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Business.InventoryAdjsSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Business.CostPriceSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Business.ProfitSQL.xml, JwDev.Service" />
		<sqlMap embedded="JwDev.Service.SqlMaps.Business.CreditSQL.xml, JwDev.Service" />
	</sqlMaps>
  
</sqlMapConfig>